<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.dividedattention.crowdvision">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.EventListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />
        <meta-data
            android:name="net.dividedattention.crowdvision.GlideConfiguration"
            android:value="GlideModule" />

        <activity android:name=".activities.CreateEventActivity" />

        <activity
            android:name=".activities.EventPhotosActivity"
            android:label="@string/title_activity_event_photos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyAUhfOj1jsV1PGvtM3uvW1aG7RSjZHfkmg"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAUhfOj1jsV1PGvtM3uvW1aG7RSjZHfkmg" />

        <service
            android:name=".services.FetchAddressIntentService"
            android:exported="false"/>
    </application>

</manifest>